<app-nav></app-nav>
<div class="container mt-4">
  <h3 class="mb-4">Formulario de Usuario</h3>
  <form [formGroup]="usuarioForm">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label>Login</label>
        <input type="text" class="form-control" formControlName="login">
      </div>

      <div class="col-md-3 mb-3">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="password">
      </div>

      <div class="col-md-3 mb-3">
        <label>Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>

      <div class="col-md-3 mb-3">
        <label>Apellido Paterno</label>
        <input type="text" class="form-control" formControlName="apellidoPaterno">
      </div>

      <div class="col-md-3 mb-3">
        <label>Apellido Materno</label>
        <input type="text" class="form-control" formControlName="apellidoMaterno">
      </div>

      <div class="col-md-3 mb-3">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>

      <div class="col-md-3 mb-3">
        <label>Cliente</label>
        <input type="number" step="0.00" class="form-control" formControlName="cliente">
      </div>

      <div class="col-md-3 mb-3">
        <label>Intentos</label>
        <input type="text" class="form-control" formControlName="intentos">
      </div>

      <div class="col-md-3 mb-3">
        <label>Fecha Revocado</label>
        <input type="date" class="form-control" formControlName="fechaRevocado">
      </div>

      <div class="col-md-3 mb-3">
        <label>Fecha de Vigencia</label>
        <input type="date" class="form-control" formControlName="fechaVigencia">
      </div>

      <div class="col-md-3 mb-3">
        <label>No Acceso</label>
        <input type="text" class="form-control" formControlName="noAcceso">
      </div>

      <div class="col-md-3 mb-3">
        <label>Área</label>
        <input type="text" class="form-control" formControlName="area">
      </div>
    </div>

    <button class="btn btn-primary mt-3" (click)="guardaUsuario()">Guardar</button>
  </form>
</div>


<div class="pt-3 container">
  <div>

    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Login</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Email</th>
          <th>Fecha Alta</th>
          <th>Área</th>
          <th>Status</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listUsuarios; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ usuario.login }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellidoPaterno }}</td>
          <td>{{ usuario.apellidoMaterno }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.fechaAlta | date:'dd/MM/yyyy' }}</td>
          <td>{{ usuario.area }}</td>
          <td>{{ usuario.status }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>